In [18]:
import numpy as np
import pandas as pd

In [19]:
diccionario = {"A": [1,2,3,4], "B": [4,5,6,7]}
dataframe_1 = pd.DataFrame(diccionario, index=["i1", "i2", "i3", "i4"])
dataframe_1

    A  B
i1  1  4
i2  2  5
i3  3  6
i4  4  7

In [20]:
diccionario2 = {"C": [11,12,13], "D": [14,15,16]}
dataframe_2 = pd.DataFrame(diccionario2, index=["i1", "i2", "i3"])
dataframe_2

     C   D
i1  11  14
i2  12  15
i3  13  16

In [21]:
dataframe_1.join(dataframe_2)

    A  B     C     D
i1  1  4  11.0  14.0
i2  2  5  12.0  15.0
i3  3  6  13.0  16.0
i4  4  7   NaN   NaN