In [6]:
import numpy as np
import pandas as pd

In [10]:
diccionario = {"A": [1,2,3], "B": [4,5,6], "clave": ["c1", "c2", "c3"]}
dataframe_1 = pd.DataFrame(diccionario)

In [9]:
dataframe_1

   A  B clave
0  1  4    c1
1  2  5    c2
2  3  6    c3

In [11]:
diccionario_2 = {"C": [11,12,13], "D": [14,15,16], "clave": ["c1", "c2", "c3"]}
dataframe_2 = pd.DataFrame(diccionario_2)
dataframe_2

    C   D clave
0  11  14    c1
1  12  15    c2
2  13  16    c3

In [12]:
pd.merge(dataframe_1, dataframe_2, on="clave")

   A  B clave   C   D
0  1  4    c1  11  14
1  2  5    c2  12  15
2  3  6    c3  13  16