In [3]:
import pandas as pd
from sqlalchemy import create_engine

In [4]:
diccionario = {"A":[1,2,3], "B":[4,5,6]}
dataframe = pd.DataFrame(diccionario)
dataframe

   A  B
0  1  4
1  2  5
2  3  6

In [6]:
engine = create_engine("sqlite:///:memory:")

In [9]:
dataframe.to_sql("tabla", engine, index=False) # It's correct actually

ValueError: Table 'tabla' already exists.

In [10]:
datos_leidos_bd = pd.read_sql("tabla", con=engine)
datos_leidos_bd

   A  B
0  1  4
1  2  5
2  3  6